{% extends 'base.html' %}
{% load bootstrap4 %}

{% load static %}



{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/estilo_contato.css' %}">

<!--Corpo - Tabela-->
<section class="corpo container-fluid mt-5">
    
      <div class="container descContato shadow-sm">

        <div class="imgPerfil float-md-left">
          <img src="{{contato.midias.url}}" alt={{contato.nome}} class=" p-2">
        </div>
  
        <div class=" float-md-right descricao ">
          <div>        
            <h1 class="text-center">{{contato.nome}}</h1>
            <dl class="p-3 ">
              <dt>ID</dt>
              <dd>{{contato.id}}</dd>
  
              <dt>Telefone</dt>
              <dd>{{contato.telefone}}</dd>
  
              <dt>Email</dt>
              <dd>{{contato.email}}</dd>
  
              <dt>Categoria</dt>
              <dd>{{contato.categoria}}</dd>
  
              <dt>Data de inserção</dt>
              <dd>{{contato.data_regis}}</dd>
            </dl>
          </div>
        </div>      
      </div>
 
</section>
<!--Fim Corpo - Tabela-->
{% endblock %}

{% bootstrap_javascript jquery='full' %}