{% extends 'base.html' %}
{% load bootstrap4 %}

{% block conteudo %}
  <!--Corpo - Tabela-->
  <section class="corpo container-fluid mt-5">
    {% bootstrap_messages %}
    <center>
      <div class="container">
        <div class="row">
          
          <table class="table">
            <thead class="thead-dark">                    
              <tr>
                
                <!--<th scope="col">ID</th>-->
                <th scope="col">Nome </th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Categoria</th>
                <th scope="col">Editar</th>
                <th scope="col">Exluir</th>
              
            </thead>

            <tbody >
              {% for contato in contatos %}
                <tr class="text-center">
                  <!--<th scope="row">{{contato.id}}</th>-->
                  <td>                    
                    <a href="{% url 'contato' contato.id %}">{{contato.nome}}</a>
                  </td>
                  <td>{{contato.telefone}}</td>
                  <td>{{contato.email}}</td>
                  <td>{{contato.categoria}}</td>
                  <td>  

                    <!--Edição com erro-->
                    <form action="#" method="post">
                      {% csrf_token %}
                      <!--{{form.as_p}}-->
                      <button type="submit" class="btn btn-success" value="Editar">Editar</button>                          
                    </form>
                    </td>

                  <td>

                    <form action="{% url 'delete' contato.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger" value="Deletar post">Exluir</button>                          
                    </form>

                  </td>
                </tr>                    
              {% endfor %}
            </tbody>
          </table>               

        </div>
      </div>
    </center>
  </section>
  <!--Fim Corpo - Tabela-->

{% endblock %}



{% bootstrap_javascript jquery='full' %}
