{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block conteudo %}

<!--Corpo - Tabela-->
<section class="container-fluid mt-5">
    <div class="container cont">              
      <h1 class="text-center">Adicionar Contato</h1>

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_messages %}

        <div class="form-group">
          <label for="usr">Name:</label>
          <input type="text"  name="nome" class="form-control" id="usr" required>
        </div>

        <div class="form-group">
          <label for="usr">Telefone:</label>
          <input type="text"  name="telefone" class="form-control" id="usr" required>
        </div>

        <div class="form-group">
          <label for="usr">Email:</label>
          <input type="email"  name="email" class="form-control" id="usr">
        </div>

        <select name="cardes" class="custom-select mb-5" required>
          <option selected>Categoria</option>
          <option value="1">Familia</option>
          <option value="2">Amigos</option>
          <option value="3">Colegas</option>
          <option value="4">Conhecidos</option>
          <option value="5">Estudos</option>
          <option value="6">Trabalho</option>
        </select>
        

        <button class="btn btn-primary">Enviar</button>

      </form>

      
    </div>
</section>
<!--Fim Corpo - Tabela-->
{% endblock %}



{% bootstrap_javascript jquery='full' %}
