.add_topo {
    width: 200px;
    margin-left: 500px;

    /*border: solid red 1px;*/

}

.addSair{
    margin-left: 600px;
}


table thead tr th {
    width: 30px;

    text-align: center;
    
    
}

.icon_delete{
    width: 30px;
 
}



.rodape {
    background-color: #F8F9FA;
}


.rodape a{
    color: #343A40;
    text-align: end;

}

/*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) { 

 }

/* Dispositivos small (telefones em modo paisagem, com menos de 768px)*/
@media (max-width: 767.98px) { 
    .add_topo {
    margin-left: 0px;
}

    .addSair{
        margin-left: 1px;
    }

    .buscar{
        width: 73%;
    }


    
 }
