

.add_topo {
    width: 200px;
    margin-left: 500px;

    /*border: solid red 1px;*/

}

.img_nav{
    width: 50px;
}

nav .usuario{
    font-size: 1em;
    color: darkcyan;
}


table thead tr th {
    border: solid blue 1px;
    width: 30px;

    text-align: center;
    
    
}



.rodape {
    background-color: #F8F9FA;
    margin-bottom: 0;

}


.rodape a{
    color: #343A40;
    text-align: end;

}

/*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) { 

 }

/* Dispositivos small (telefones em modo paisagem, com menos de 768px)*/
@media (max-width: 767.98px) { 
    .add_topo {
    margin-left: 0px;
}
 }

/* Dispositivos médios (tablets com menos de 992px)*/
@media (max-width: 991.98px) { 

 }

/* Dispositivos large (desktops com menos de 1200px)*/
@media (max-width: 1199.98px) { 

 }

/* Dispositivos extra large (desktops grandes)
Nenhuma media query, já que o breakpoint extra large não possui nenhum limite acima.*/