.add_topo {
    width: 300px;
    margin-left: 500px;
}






/*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) { 

 }

/* Dispositivos small (telefones em modo paisagem, com menos de 768px)*/
@media (max-width: 767.98px) { 
    .add_topo {
    margin-left: 0px;
}
 }

/* Dispositivos médios (tablets com menos de 992px)*/
@media (max-width: 991.98px) { 

 }

/* Dispositivos large (desktops com menos de 1200px)*/
@media (max-width: 1199.98px) { 

 }

/* Dispositivos extra large (desktops grandes)
Nenhuma media query, já que o breakpoint extra large não possui nenhum limite acima.*/